h1, h2 {
    display: none;
}

body {
    background: linear-gradient(-33deg,
    
    #291749,
    #1f1137,
    #150c25,
    #0a0612,  
    #291749,
    #1f1137,
    #150c25,
    #0a0612);
    animation: gradient 22s ease-in-out infinite;
    height: 100vh;
    background-size: 400% 400%;

}

@keyframes gradient {

    0% {background-position: 0%;}

    50% {background-position: 50%;}

    100% { background-position: 100%;}
}

#music {

 display: flex;
 justify-content: center;
 padding: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column: auto;
    max-width: 1111px;
    margin: 0 auto;
    padding-left: 11px;
    padding-right: 11px;
}

#banner {
    margin-top: 50px;
    width: 1111px;
    background: url('../images/stars-3.webp');
    height: 555px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;
    grid-template-columns: 1/13;
    box-shadow: 0 0 55px 11px #48abe0;
}

.text1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 1;
    top: 111px;
    width: 666px;
    height: 222px;
    font-size: 44px;
    animation: first 9s ease-in-out forwards;
}

@keyframes first {

    0%{ left: 444px;opacity: 0;}

    25% { left: 444px;opacity: 0.25; }

    50% { left: 444px; opacity: 1; }

    100% { left: 444px; transform: rotate(11deg); opacity: 0;}

}


.text2{
    color: white;
    font-family: cursive;
    position: absolute;
    z-index: 1;
    top: -111px;
    left: 200px;
    width: 444px;
    height: 333px;
    font-size: 22px;
    animation: second 8s ease-in-out 7s forwards;
}

@keyframes second { 
    
    0%{ top:-111px; left:222px;}

    25%{ top: 45px;}

    50% { top: 45px;}

    75%{ top:45px;font-size: 33px;}

    100%{ left: -222px; opacity: 0;}
}


.text3 {
    color: white;
    font-family: cursive;
    position: absolute;
    display: inline-block;
    z-index: 1;
    top:-600px;
    width: 2222px;
    height: 222px;
    font-size: 33px;
    animation: third 13s ease-in-out 10s forwards;
  
}



@keyframes third {

  0%{transform: scale(0.95); left: 200px; top: 600px;}

  50% {transform: scale(1);left: 200px; top: 200px; font-size: 66px ;}

  100% {transform: rotate(30deg);left: 200px; top: 600px; opacity: 0;}
  }

  .text4 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 111px;
    opacity: 0;
    width: 333;
    height: 222px;
    font-size: 55px;
    animation: fourth 33s ease-in-out 12s forwards;
}

@keyframes fourth {
    0%{scale: 0%;opacity: 0;}

    25% { scale: 20%; opacity: 0.15;}

    50% {scale: 50%; opacity: 1;}

    100% {scale: 100%; opacity: 0;}
}